<div class="container flex p-6 pb-40">
    <video width="400" autoplay loop muted playsinline >
        <source src="images/truck.mp4" type="video/mp4">
    </video>
    <div>
        <h2 class="font-bold font-sans text-2xl">CargoFlow – Logistics Management Platform:</h2>
        <p class="font-sans">
            CargoFlow is a modern platform designed to simplify the management of cargo transportation. It connects
            cargo senders with transport carriers and allows users to easily create, track, and manage delivery orders
            in one centralized system.

            The platform helps logistics teams monitor order statuses, organize shipments efficiently, and ensure smooth
            transportation from the starting point to final delivery.
        </p>
    </div>
</div>